################################################################################
# Ignore file for CORDIC development
################################################################################

## Quartus Prime
# Quartus Project Files
*.qpf	# Quartus Project File
*.qsf	# Quartus (Project) Settings File
*.qws	# Quartus Workspace File - User settings, Window position, etc...

*sopc_*
*.jdi
*.ptf.*
*.sof
*.pof

*.smsg
*_inst.vhd
*_generation_script*
*.done
*.txt
*.qarlog
*.rpt
*.summary
*.qws
*.cmp
*.eqn
*.html
*.jpg
*.bak
*.qar
*.sopc_builder
*example*
*~
*.sdc
*.tcl
*.pin
*.mif
*.hex

# ignore Quartus II generated folders
db/
incremental_db/
simulation/
timing/
testbench/
*_sim/